@media(max-width: 1094px) { 
    #countries {
        justify-content: center;
    }

    .countrie__overview {
        margin: 0;
        flex-direction: column;
        max-width: 760px;
        align-items: center;
    }

    .countrie__flag__btn__overview {
        width: 100%;
    }

    .countrie__btn__nav__overview {
        margin: 2em 0em 4em;
    }

    .countrie__flag__overview {
        width: 100%;
        height: unset;
        object-fit: contain;
    }

    .countrie__details__overview {
        width: 100%;
    }

    .countrie__infos__overview {
        flex-wrap: wrap;
    }
}

@media(max-width: 755px) {
    .countries__header__content__t {
        font-size: var(--Font20px);
    }

    .countries__header__content,
    .countries__nav,
    #countries {
        padding: 0rem 1rem;
    }

    .countries__nav {
        align-items: start;
        flex-direction: column;
        gap: 1rem;
    }

    .countrie {
        max-width: 530px;
    }
}