@import url('../utils/variables.css');

.nav {
    width: 100%;
    max-width: 1770px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 5rem;
    margin: 3rem 0rem;
    gap: 4.6875rem;
}

.nav__search {
    width: 100%;
}

.nav__search>label {
    display: none;
}

#search--countries {
    width: 100%;
    height: 55px;
    max-width: 480px;
    border-radius: .5rem;
    box-shadow: var(--Shadow);
    padding-left: 4rem;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 2rem center;
    outline: none;
    background-color: var(--Background--Color--Divs);
    transition: .5s ease;
    color: var(--Color--Text--Bold);
}

#search--countries::placeholder {
    color: var(--Color--Text--Normal);
}

.nav__filter {
    width: 100%;
    max-width: 200px;
    position: relative;
}

.nav__filter__btn {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: var(--Shadow);
    cursor: pointer;
    transition: .2s ease;
    background-color: var(--Background--Color--Divs);
    position: relative;
    z-index: 3;
}

#filter--btn {
    background-color: transparent;
    color: var(--Color--Text--Bold);
    font-weight: 500;
    cursor: pointer;
}

.nav__filter__btn:active {
    transform: scale(0.92);
}

.nav__filter__btn__arrows {
    display: flex;
}

.nav__filter__arrow {
    width: 20px;
}

.nav__filter__filters {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: .35rem;
    background-color: var(--Background--Color--Divs);
    margin-top: .25em;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: var(--Shadow);
    position: absolute;
    z-index: 2;
    width: 100%;
    visibility: hidden;
}

.nav__filter__filters__continent,
.clear__filter {
    font-weight: 600;
    cursor: pointer;
    font-size: var(--Font14px);
    transition: 0.2s ease;
    color: var(--Color--Text--Bold);
}

.nav__filter__filters__continent:active,
.clear__filter:active {
    transform: scale(0.92);
}

.clear__filter {
    margin-top: 1rem;
}

@media (max-width: 755px) {
    .nav {
        padding: 0rem 1rem;
    }

    .nav {
        align-items: start;
        flex-direction: column;
        gap: 1rem;
    }
}